<div class="navbar navbar-inverse navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Discovery | Heatmap</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
        <span ng-repeat="item in nav.menu">
            <span ng-click="nav.setStyle($index)" class="navbar-item"
            ng-class="($index==nav.selectedId) ? 'nav-selected' : 'nav-unselected'">{{item.title}}</span>
        </span>
    </div>
  </div>
</div>
